<div th:fragment="header">
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
                <li class="nav-item"><a href="/materials" class="nav-link">Материалы</a></li>
                <li class="nav-item"><a href="/providers" class="nav-link">Поставщики</a></li>
                <li class="nav-item"><a href="/recipients" class="nav-link">Получатели</a></li>
                <li class="nav-item"><a href="/applications" class="nav-link">Заявки</a></li>
            </ul>
        </header>
    </div>
</div>